- name: Remove previous i3 configuration
  file:
    state: absent
    path: "~/.config/i3/config"

- name: Create i3 symbolic link
  file:
    src: "~/linuxconfig/config/i3config"
    dest: "~/.config/i3/config"
    state: link

- name: Remove previous i3status configuration
  file:
    state: absent
    path: "~/.config/i3status/config"

- name: Create i3 status folder
  file:
    path: "~/.config/i3status"
    recurse: yes
    state: directory

- name: Create i3 status symbolic link
  file:
    src: "~/linuxconfig/config/i3status"
    dest: "~/.config/i3status/config"
    state: link

- name: Install patch for intel backlight
  file:
    src: "~/linuxconfig/config/xorg.conf"
    dest: "/etc/X11/xorg.conf"
    state: link
  when: "'LAPTOP' in ansible_env"

- name: Reload i3 config
  command: i3-msg restart 
  failed_when: false
  changed_when: false 
