- name: Download Oh My SH installation script
  get_url:
    url: https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh
    dest: "/tmp/installzsh.sh"
    mode: "a+x"

- name: Install Oh My SH
  command: sh /tmp/installzsh.sh

- name: Install Powerpack fonts
  apt: name=fonts-powerline

- name: Remove previous zsh configuration
  file:
    state: absent
    path: "~/.zshrc"

- name: Create zshrc symbolic link
  file:
    src: "~/linuxconfig/config/zshrc"
    dest: "~/.zshrc"
    state: link

- name: Set ZSH as the default shell
  shell: "chsh -s $(which zsh)"
